<div class="wrapper">
  <h1 class="greetings">Let's find the book, {{ userName }}</h1>
  <section class="search-bar-row">
    <sqr-search-bar (query)="setCurrentQuery($event)"></sqr-search-bar>
  </section>
  <div class="paginator" *ngIf="showPaginator">
    <mat-paginator [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [length]="totalResults"
                   (page)="onPage($event)">
    </mat-paginator>
  </div>
  <section class="results">
    <div class="query" *ngIf="currentQuery; else noQuery">
      <div class="results-list" *ngIf="results$ | async as books; else noResults">
        <div class="card-wrapper" *ngFor="let book of books" (click)="onItemClick(book)">
          <mat-card>
            <mat-card-content>
              <p class="title">{{ book.volumeInfo.title }}</p>
              <p class="authors" *ngIf="book.volumeInfo.authors">
                By: {{ book.volumeInfo.authors[0] }}
              </p>
              <p class="info">
                <span *ngIf="book.volumeInfo.publishedDate">Published: {{ book.volumeInfo.publishedDate }}</span>
                <span *ngIf="book.volumeInfo.pageCount">Page count: {{ book.volumeInfo.pageCount }}</span>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <ng-template #noResults>
        <div class="loading" *ngIf="loading; else noResultsInt">
          <mat-spinner color="accent"></mat-spinner>
        </div>
        <ng-template #noResultsInt>No results</ng-template>
      </ng-template>
    </div>
    <ng-template #noQuery>
      <div class="no-query">
        <h2>Start typing in search bar and get the results...</h2>
      </div>
    </ng-template>
  </section>
</div>
